@{
    ViewBag.Title = "About";
    ViewBag.Message = "More info about Restaurant Rater";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3> <!--There is a default .Message saved somewhere else in the scaffold but I overrode it by adding code in Line 3 above-->

<p>This is a placeholder for where more information about the Restaurant Rater application would go.</p>
