@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "This is the contact page for Restaurant Rater.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Main St<br />
    Anytown, US 00000-0000<br />
    <abbr title="Phone">Phone:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>