@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is a simple web app for users to add and rate different restaurants.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Rate a Restaurant &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Click on the Rate a Restaurant link or buttons to rate restaurants.
        </p>
        <p><a class="btn btn-default" href="#">Rate a Restaurant &raquo;</a></p> <!-- replace # with actual link address -->
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Click the More Information button below to find out more about Restaurant Rater and how to use it.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">More Information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Click the Contact link or button to give feedback, ask questions, or report a bug.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact &raquo;</a></p>
    </div>
</div>