@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is a simple web app for users to add and rate different restaurants.</p>
    <p><a href="https://localhost:44334/Restaurant" class="btn btn-primary btn-lg">Restaurants &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            See the current list of restaurant ratings and add new ratings.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44334/Restaurant">Restaurants &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Click the More Information button below to find out more about Restaurant Rater and how to use it.</p>
        <p><a class="btn btn-default" href="https://localhost:44334/Home/About">More Information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Click the Contact link or button to give feedback, ask questions, or report a bug.</p>
        <p><a class="btn btn-default" href="https://localhost:44334/Home/Contact">Contact &raquo;</a></p>
    </div>
</div>